@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;     
}

*, *:before, :after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E7E5D9;
}

.img-flex{
    display: block;
    width: 100%;
}

.frame {
    border-image:url(../images/boarders.png)25 25 25 25 stretch stretch;
    border-width: 25px 25px 25px 25px;
    margin: 0 auto;
}

.masthead{
    background: transparent url("../images/masthead-bg.png") repeat left center;
    text-align: center;
    margin: 0 auto;
}

.title {
    background-color: #E7E5D9;
    margin: 0 auto;
    align-content: center;
}

.center {
    margin: 0 auto; 
    text-align: center;
    align-content: center center;
    vertical-align: center;
}

.position {
    float: left;
    margin: 0 auto;
    padding: 0 1em;
}

.star {
    max-width: 2em;
    margin: 0 auto;
    float: left;
}

.hat {
    
    align-content: center;
}

.handcuffs {
    margin: 0 auto;
}

.background {
    background-color: #87714F;
    margin: 0 auto;
    position: relative;
    color: white;
}

.uppercase {
    text-transform: uppercase;
    margin: 0 auto;
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}